@page "/"

<PageTitle>Testing Console Output</PageTitle>

<div style="display: flex; flex-direction: column;">
    
    <LogTable />
    <SimpleLogStyled />
    <CssSimpleLogStyled />
    <GroupLog />
</div>

